# All builds and intermediate build files
lib/*
bin/*
!bin/*.ini

# Visual Studio
build/vs*/*
build/vs*/*.user
!build/vs*/*.sln
!build/vs*/*.vcxproj
!build/vs*/*.filters
!build/vs*/*.props

# User configs, log files
*.ini
*.log